body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	background-color: #000;
	> header, > footer {
		background-color: #333;
		padding: 16px 0 0 16px
	}
	> header {
		display: flex;
		justify-content: space-between;
		height: 100px;
		padding: 0 16px;
		h1 {
			font-size: 24px;
			display: inline-block;
			margin-right: 16px;
		}
		a {
			color: #ddd;
			margin-top: 24px;
			display: inline-block;
			text-decoration: underline;
			&:hover {
				color: #fff;
				text-decoration: none;
			}
		}
		img {
			vertical-align: middle;
			height: 24px;
			display: inline-block;
			margin-right: 8px;
			filter: invert(1) brightness(2);
		}
	}
	> footer {
		height: 64px;
	}
	> main {
		flex: 1;
		padding: 16px;
	}
}
